* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  --black: #333;
  --white: #f4f4f4;
  background: var(--white);
  color: var(--black);
}

.container {
  width: 80vw;
  margin: 2rem auto;

}

#insructionsCopy {
  margin: 2rem 0;
  font-size: 2rem;
}

#title {
  font-size: 3rem;
  border-bottom: 3px solid var(--black);
}

.question {
  margin: 3rem 1rem;
}

.question p {
  display: inline-block;
  font-style: italic;
  font-size: 1.5rem;
  border-bottom: 5px solid var(--black);
  padding-bottom: .5rem;
}

.question ul {
  margin-top: .4rem;
}


.question li {
  margin: .5rem;
  font-size: 1.4rem;
}